@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-text;
    color: variables.$color-black;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

section.container {
    @media (min-width: variables.$breakpoint-desktop) {
        padding-left: 180px;
        padding-right: 180px;
    }
}