@use 'variables';

.footer {
    background-color: variables.$color-grey;
    padding: 28px 24px;

    @media (min-width: variables.$breakpoint-desktop) {
        display: flex;
        flex-direction: row-reverse; 
        justify-content: flex-start; 
        align-items: center;
        gap: 80px; 
        padding: 50px 60px;
    }


    &__logo {
        height: 20px;
        filter: brightness(0) invert(1);
        margin-bottom: 24px;

        @media (min-width: variables.$breakpoint-desktop) {
            margin-bottom: 0; 
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;

        @media (min-width: variables.$breakpoint-desktop) {
            flex-direction: row; 
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        color: variables.$color-white-pure;
        font-size: 16px;
    }

    &__icon {
        color: variables.$color-white-pure;
    }
}