@use 'variables';

.intro {
    text-align: center;
    padding: 40px 24px 60px;
    background-color: variables.$color-grey-lightt;

    &__title {
        font-family: variables.$font-text;
        font-weight: 700;
        font-size: 24px;
        color: variables.$color-black;
        max-width: 280px;
        margin: 0 auto 16px;

        @media (min-width: variables.$breakpoint-desktop) {
        font-size: 40px;
        max-width: none;
        }

    }

    &__description {
        font-size: 18px;
        color: variables.$color-grey;
        margin-bottom: 24px;
    }
}
