@use 'variables';

.intro {
    text-align: center;
    padding: 2.5rem 1.5rem 3.75rem;
    background-color: variables.$color-grey-lightt;

    &__title {
        font-family: variables.$font-text;
        font-weight: 700;
        font-size: 1.5rem;
        color: variables.$color-black;
        max-width: 17.5rem;
        margin: 0 auto 1rem;

        @media (min-width: variables.$breakpoint-desktop) {
        font-size: 2.5rem;
        max-width: none;
        }

    }

    &__description {
        font-size: 1.125rem;
        color: variables.$color-grey;
        margin-bottom: 1.5rem;
    }
}
