@use 'variables';

.restaurants {
    padding: 3.125rem 1.5rem 4.375rem;
    background-color: variables.$color-grey-card;

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: variables.$color-black;
        margin-bottom: 1.5rem;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @media (min-width: variables.$breakpoint-desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6.25rem;
        row-gap: 3.125rem;
    }
    }
}

.restaurant-card {
    display: block;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.15);


    &__image-wrapper {
        position: relative;
    }

    &__image {
        width: 100%;
        height: 11.25rem;
        object-fit: cover;

        @media (min-width: variables.$breakpoint-desktop) {
        height: 15.625rem;
        }
    }

    &__badge {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
        background-color: variables.$color-tertiary;
        color: variables.$color-green-font;
        font-size: 0.75rem;
        font-weight: 700;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: variables.$color-white-pure;

        @media (min-width: variables.$breakpoint-desktop) {
        height: 5rem;
        }
    }

    &__name {
        font-size: 1.125rem;
        font-weight: 700;
        color: variables.$color-black;
    }

    &__location {
        font-size: 0.875rem;
        font-weight: 300;
        color: variables.$color-grey-tint;
    }

    &__heart {
        position: relative;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.25rem;
        color: variables.$color-black;

        @media (min-width: variables.$breakpoint-desktop) {
        transform: scale(1.2);
        }

        @media (hover: hover) {
            &:hover .restaurant-card__heart-fill {
                opacity: 1;
                transform: scale(1);
            }
        }

        &:active .restaurant-card__heart-fill {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__heart-outline,
    &__heart-fill {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__heart-fill {
        color: variables.$color-primary;
        opacity: 0;
        transform: scale(0.3);
        transition: opacity 0.25s ease, transform 0.45s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
}
