// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-blue-dark: #003168;
$color-blue-light: #89C8FA;
$color-green-font: #008766;
$color-white: #F3F3F3;
$color-white-pure: #FFFFFF;
$color-grey: #353535;
$color-grey-tint: #7E7E7E;
$color-grey-light: #EAEAEA;
$color-grey-card: #F6F6F6;
$color-black : #000000;

// Polices
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;